/* Checkbox */
.cb {
    position: absolute;
    width: 34px;
    height: 19px;
    opacity: 0;
    z-index: 100;
    outline: 1px solid #f00;
}

.switcherContainer {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    top: 2px;
    left: 4px;
    border: 2px solid hsl(200, 100%, 50%);
    border-radius: 5px;
}

.switcherContainer .knob {
    position: absolute;
    left: 2px;
    top: 2px;
    background-color: hsl(200, 100%, 50%);
    width: 11px;
    height: 11px;
    border-radius: 3px;
    transition: all 100ms ease-in-out;
}

/* Der + Selektor selektiert das folgende Geschwister-Element */
.cb:checked+.switcherContainer .knob {
    left: 17px;
}